<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Articles</title>
    <link type="text/css" rel="stylesheet" href="/styles/styles.css">
    <link rel="preload" href="/fonts/Fira-Code-Regular-Nerd-Font-Complete-Mono.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/OpenSans-Regular.woff2" as="font" type="font/woff2" crossorigin>
</head>
<body>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
    <div class="nav">
        <div class="nav-content">
            <div class="nav-left">
                <a href="/">Home</a>
                <a href="/articles">Articles</a>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="article-list">
            <h1>Articles</h1>
            {{#each articles as |article|}}
                <div class="article-list-item">
                    <div class="article-title">
                        <h2><a href="article/{{article.filename}}">{{article.title}}</a></h2>
                    </div>
                    <div class="upload-date"><p>{{article.formatted_time}}</p></div>
                    {{{article.truncated_body}}}
                </div>
            {{/each}}
        </div>
    </div>
</body>
</html>