<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Articles</title>
    <link type="text/css" rel="stylesheet" href="/styles/styles.css">
    <link rel="preload" href="/fonts/Fira-Code-Regular-Nerd-Font-Complete.woff2">
</head>
<body>
    <div class="nav">
        <div class="nav-content">
            <div class="nav-left">
                <a href="/">Home</a>
                <a href="/articles">Articles</a>
            </div>
            <div class="nav-right">
                <a href="/form">Upload Article</a>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="article-list">
            <h1>Articles</h1>
            {{#each articles as |article i|}}
                <div class="article-list-item">
                    <div class="article-title">
                        <h3><a href="article/{{i}}">{{article.2.title}}</a></h3>
                    </div>
                    <div class="upload-date">{{article.1}}</div>
                    {{{article.0}}}
                </div>
            {{/each}}
        </div>
    </div>
</body>
</html>