<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
<ul class="article_list">
    {{#each articles}}
        <li><a href="article/{{this.0}}">{{this.1}}</a></li>
    {{/each}}
</ul>

<p>Link to upload articles <a href="form">the link</a></p>
</body>
</html>