<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{article.title}}</title>
    <link type="text/css" rel="stylesheet" href="/styles/styles.css">
    <link rel="preload" href="/fonts/Fira-Code-Regular-Nerd-Font-Complete-Mono.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/OpenSans-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/RobotoSlab-Regular.woff2" as="font" type="font/woff2" crossorigin>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.6/dist/katex.min.css" integrity="sha384-ZPe7yZ91iWxYumsBEOn7ieg8q/o+qh/hQpSaPow8T6BwALcXSCS6C6fSRPIAnTQs" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.6/dist/katex.min.js" integrity="sha384-ljao5I1l+8KYFXG7LNEA7DyaFvuvSCmedUf6Y6JI7LJqiu8q5dEivP2nDdFH31V4" crossorigin="anonymous"></script>

    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.6/dist/contrib/auto-render.min.js" integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous"
            onload="renderMathInElement(document.body);"></script>
</head>
<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/base16/monokai.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/languages/dockerfile.min.js"></script>
    <script>hljs.highlightAll();</script>
    <div class="nav">
        <div class="nav-content">
            <div class="nav-left">
                <a href="/">Home</a>
                <a href="/articles">Articles</a>
            </div>
            <div class="nav-right">
                <a href="/articles/about-me">About Me</a>
            </div>
        </div>
    </div>
    <div class="content">
        <h1>{{article.title}}</h1>
        <div class="upload-date"><p>{{article.formatted_time}}</p></div>
        {{{article.body}}}
    </div>
</body>
</html>