<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link type="text/css" rel="stylesheet" href="/styles/styles.css">
    <link rel="preload" href="/fonts/Fira-Code-Regular-Nerd-Font-Complete.woff2" as="font" type="font/woff2" crossorigin>
</head>
<body>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
<div class="nav">
    <div class="nav-content">
        <div class="nav-left">
            <a href="/">Home</a>
            <a href="/articles">Articles</a>
        </div>
        <div class="nav-right">
            <a href="/form">Upload Article</a>
        </div>
    </div>
</div>
    <div class="content">
        <article class="article-text">
            <h1>{{article.title}}</h1>
            <div class="upload-date">{{article.formatted_time}}</div>
            {{{article.body}}}
        </article>
    </div>
</body>
</html>