<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Upload Article</title>
    <link type="text/css" rel="stylesheet" href="/styles/styles.css">
    <link rel="preload" href="/fonts/Fira-Code-Regular-Nerd-Font-Complete-Mono.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/OpenSans-Regular.woff2" as="font" type="font/woff2" crossorigin>
</head>

<body>
<div class="nav">
    <div class="nav-content">
        <div class="nav-left">
            <a href="/">Home</a>
            <a href="/articles">Articles</a>
        </div>
        <div class="nav-right">
            <a href="/form">Upload Article</a>
        </div>
    </div>
</div>
<div class="content">
    <form action="/form" method="post">
        <div class="form-field-list">
            <div class="form-field">
                <label for="title">Title</label>
                <input type="text" id="title" name="title_body.title" {{#if wrong}}value="{{title}}{{/if}}" required/>
            </div>
            <div class="form-field">
                <label for="body">Body</label>
                <textarea id="body" name="title_body.body" rows="10" required>{{#if wrong}}{{body}}{{/if}}</textarea>
            </div>
            <div class="form-field">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required/>
            </div>
            {{#if wrong}}<div class="wrong-password">Wrong Password!</div>{{/if}}
        </div>
        <button type="submit">Upload</button>
    </form>
</div>
</body>
</html>