@font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "Fira Code Mono";
    src: url("/fonts/Fira-Code-Regular-Nerd-Font-Complete-Mono.woff2") format("woff2");
}
@font-face {
    font-family: "Roboto Slab";
    src: url("/fonts/RobotoSlab-Regular.woff2") format("woff2");
}
html {
    font-size: 14pt;
    scroll-padding-top: 3rem;
}
body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 1.9rem;
}
h3 {
    font-size: 1.5rem;
}

/* Navigation header*/
.nav {
    background: rgb(119, 19, 72);
    box-shadow: 0 0 1px 0 rgb(129 83 165 / 8%), 0 6px 12px 0 rgb(129 83 165 / 7%), 0 1px 1px 0 rgb(129 83 165 / 7%);
    position: sticky;
    top: 0;
    z-index: 800;
    align-self: stretch;
    margin-bottom: 2.5rem;
}
.nav-content {
    padding: 0 0.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-content a {
    font-family: "Roboto Slab", serif;
    font-size: .9rem;
    text-decoration: none;
    color: white;
    align-items: center;
}
.nav-left {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
}
.nav-left a {
    display: flex;
    padding: 0 0.8rem;
    height: 2.25rem;
}
.nav-left a:hover, .nav-right a:hover {
    background: rgb(100, 16, 60);
}
.nav-right {
     display: flex;
     flex-direction: row;
     margin: 0 auto;
     justify-content: flex-end;
     flex-grow: 1;
 }
.nav-right a {
    display: flex;
    height: 40px;
    padding: 0 0.8rem;
}
.content {
    box-sizing: border-box;
    margin: 0 auto 3rem;
    padding: 0 15px;
}

/* Article */
.content > * {
    max-width: min(760px, 100%);
    margin: 0 auto 1.8rem;
}
.content p {
    line-height: 200%;
    margin-bottom: 1.8rem;
}
.upload-date {
    margin-bottom: 2.5rem;
}
.upload-date p {
    font-size: .8rem;
    color: gray;
}
code {
    font-family: "Fira Code Mono", sans-serif;
    font-size: .75rem;
    background: #f3f3f3
}
ul a {
    color: #1b1f23;
}
ul a:visited {
    color: #1b1f23;
}
.content img {
    display: block;
    max-width: calc(min(760px, 100%));
    padding-bottom: 1.2rem;
}
@media (min-width: 1200px) {
    .content img {
        max-width: calc(min(1200px, 70vw))
    }
}

/* Articles List */
.article-list {
    margin-top: 3rem;
}
.article-list-item {
    border-radius: 4px;
    margin-bottom: 3rem;
    position: relative;
}
.article-title a {
    text-decoration: none;
    color: black
}
.article-title a:visited {
    color: black;
}
.article-list-item.upload-date {
    font-size: 1rem;
}
