body {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Computer Modern";
    src: url("/fonts/cmunrm.woff2") format("woff2");
}

@font-face {
    font-family: "Computer Modern Sans Serif";
    src: url("/fonts/cmunss.woff2") format("woff2");
}
@font-face {
    font-family: "Fira Code";
    src: url("/fonts/Fira Code Regular Nerd Font Complete.woff2") format("woff2");
}

@font-face {
    font-family: "Fira Code Mono";
    src: url("/fonts/Fira Code Regular Nerd Font Complete Mono.woff2") format("woff2");
}

/* Navigation header*/
.nav {
    background: rgb(119, 19, 72);
    /*background: white;*/
    box-shadow: 0 0 1px 0 rgb(129 83 165 / 8%), 0 6px 12px 0 rgb(129 83 165 / 7%), 0 1px 1px 0 rgb(129 83 165 / 7%);
    position: sticky;
    top: 0;
    z-index: 800;
    align-self: stretch;
    margin-bottom: 2.5rem;
}

.nav-content {
    padding: 0 0.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-content a {
    text-decoration: none;
    color: white;
    font-family: "Fira Code", sans-serif;
    align-items: center;
}

.nav-left {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12pt;
}

.nav-left a {
    display: flex;
    padding: 0 0.8rem;
    height: 40px;
}

.nav-left a:hover, .nav-right a:hover {
    background: rgb(100, 16, 60);
}

.nav-right {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: flex-end;
    flex-grow: 1;
}

.nav-right a {
    display: flex;
    height: 40px;
    padding: 0 0.8rem;
}

.content {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 15px;
    max-width: min(760px, 100%);
    font-family: "Fira Code", serif;
    font-size: 14pt;
}

/* Article */
.article-text h1 {
    font-size: 30pt;
}

.article-text p {
    font-size: 14pt;
    line-height: 200%;
}

.upload-date {
    margin-bottom: 2.5rem;
}

/* Articles List */
.article-list {
    margin-top: 3rem;
}
.article-list-item {
    border-radius: 4px;
    margin-bottom: 6rem;
    position: relative;
}
.article-title a {
    font-size: 1.6rem;
    text-decoration: none;
}
.article-title a:visited {
    color: black;
}
.article-list-item .upload-date {
    font-size: 1rem;
}